
@font-face {
  font-family: "Untitled Sans";
  src: url("fonts/UntitledSansWeb-Regular.eot") format("eot"),
       url("fonts/UntitledSansWeb-Regular.woff") format("woff"),
       url("fonts/UntitledSansWeb-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pitch Sans Bold";
  src: url("fonts/PitchSansWeb-Bold.eot") format("eot"),
       url("fonts/PitchSansWeb-Bold.woff") format("woff"),
       url("fonts/PitchSansWeb-Bold.woff2") format("woff2");
}
body, html {
	background-color: #F7F6F4;
	font-family: 'Untitled Sans';
	font-size: 18px;
	line-height: 1.4em;
}
#main {
	margin:40px auto;
	max-width: 450px;
}

h1 {
	font-family: 'Pitch Sans Bold';
	font-size: 14px;
	text-transform: uppercase;
}
p {
	margin:20px 0px;
}
#newsletter {
	margin-top:30px;
}
#logo {
	margin-bottom: 30px;
	width:200px;
	height:auto;
}
#logo img {
	width:100%;
}
#revue-form {
	width:100% !important;
	display: grid;
  	align-items: center;
  	grid-gap: 0px;
   grid-template-columns:  auto;
}  
#revue-form input {
	padding:10px;
	font-family: 'Pitch Sans Bold';
	font-size: 12px;
	text-transform: uppercase;
	float: left;
}
#revue-form input[type=email] {
  border: 2px solid #000000;
}
#revue-form input[type=submit] {
  border: 2px solid #000000;
  background-color: #000000;
  color: white;
  text-decoration: none;
  cursor: pointer;
}


